.page {
  font-family: "IBM Plex mono", monospace;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: var(--text-color);
  min-block-size: 100vh;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  font-weight: bold;
}

/* Decorated zone для рамок */
.decorated-zone {
  position: relative;
  
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--navigation-text);
  border-right: 1px solid var(--navigation-text);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--navigation-text);
  border-left: 1px solid var(--navigation-text);
}

/* Links */
.content__link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.content__link:hover {
  border-bottom: 1px solid var(--text-color);
}

.content__link:focus {
  outline: none;
}

.content__link:focus-visible {
  outline: 1px solid var(--text-color);
  outline-offset: 2px;
}

/* Header */
.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: 1fr;
  block-size: 100vh;
  min-block-size: 668px;
  padding: 10px;
}

.header__rec-element {
  position: absolute;
  top: 10px;
  right: 48px;
  color: var(--accent-color);
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  display: var(--rec-visibility);
}

.header__rec-element::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -20px;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  animation: blink 2s infinite;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}

.header__theme-menu {
  justify-self: center;
  align-self: start;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
}

.header__theme-menu-button {
  background: transparent;
  border: 1px solid transparent;
  padding: 3px 14.2px;
  color: var(--navigation-text);
  font-size: 18px;
  text-transform: lowercase;
  cursor: pointer;
  line-height: 1;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--color-rgba);;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--navigation-textr);
}

.header__theme-menu-button_active {
  border: 1px solid var(--navigation-text);
  pointer-events: none;
}

.header__title {
  align-self: center;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: bold;
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--title-color);
}

.header__description {
  align-self: end;
  justify-self: end;
  max-inline-size: 491px;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 138px;
}

/* Main Content */
.main {
  padding: 40px 10px;
}

.content {
  display: grid;
  gap: 20px;
  margin-block-end: 80px;
}

.content-why{
  grid-template-columns: 1fr 2.06fr;
}

.content-how{
  grid-template-columns: 1fr 2.06fr;
}

.content__title {
  font-size: 18px;
  font-weight: bold;
  color: var(--navigation-text);
}

.content__cards {
  display: grid;
  gap: 20px;
}

.content__card-title {
  font-size: 18px;
}

.content__card-title_light {
  font-weight: normal;
}

/* реалитивное позиционирование у меня описано в .decorated-zone, это общий селектор , как для хэдера, так и для футера XD */

.content__card-text {
  font-size: 18px;
  line-height: 23px;
  padding-top: 10px;
}

.content__how-to {
  display: grid;
  gap: 20px;
}

/* Gallery */
.gallery {
  margin-block-end: 40px;
}

.gallery__title {
  font-size: 18px;
  line-height: 23px;
  margin-block-end: 10px;
}

.gallery__grid {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100vh;
  min-block-size: 668px;
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: bold;
  line-height: 82.5%;
  text-shadow: 2px 2px 0 var(--accent-color);
  color: var(--title-color);
}


@media (min-width: 768px) {
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -20px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__rec-element {
    top: 20px;
    right: 48px;
  }

  .main {
    padding: 60px 20px;
  }

  .content-what .content__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .content-why .content__title,
  .content-how .content__title {
    grid-column: 1;
  }

  .content-why .content__cards,
  .content-how .content__how-to {
    grid-column: 2;
  }

   .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  
}

@media (max-width: 1024px) {
  .main {
    padding: 60px 20px 20px;
  }
  
  .header {
    min-block-size: 768px;
    padding: 20px;
  }


  .header__description {
    align-self: self-start;
    margin: 115px 0 0;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
  }
  
  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__theme-menu-button{
    padding: 3px 12px;
    line-height: 1;
  }

  .content-what .content__cards{
   display: flex;
   flex-direction: column;
  }

  .content-why{
    grid-template-columns: 1fr 2.06fr;
  }

  .content-how{
    grid-template-columns: 1fr 2.06fr;
    margin-bottom: 78px;
  }

  .gallery__title{
    margin-bottom: 20px;
  }

  .content__card-text {
    line-height: 23.5px;
  }

 .gallery__grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery__image_sunset {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .gallery__image_ice-cream {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .gallery__image_tape {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .gallery__image_books {
    grid-column: 2;
    grid-row: 2;
  }

  .gallery__image_street {
    grid-column: 2 / 4;
    grid-row: 3;
  }

  .footer{
 min-block-size: 768px;
  }
}

@media (min-width: 1024px){
  .content-what .content__cards{
   display: grid;
    grid-column: 1fr 1fr 1fr;
  }


.gallery__grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery__image_sunset {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .gallery__image_ice-cream {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .gallery__image_tape {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .gallery__image_books {
    grid-column: 2;
    grid-row: 2;
  }

  .gallery__image_street {
    grid-column: 2 / 4;
    grid-row: 3;
  }

}

@media (max-width: 768px){
  .header__description {
    width: 50%;
    margin: 163px 0 0 0;
    font-size: 18px;
  }

   .header {
    min-block-size: 1024px;
    padding: 20px;
  }

  .header__theme-menu {
    justify-self: end;
    align-self: center;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .main{
    padding: 60px 20px 0;
  }

  .content-why,
  .content-how {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: start;
  }

  .content-what .content__cards{
    flex-direction: column;
  }

  .content-what .content__card{
    width: 100%;
  }

  .content-what .content__title{
    max-width: 236px;
  }

   .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
  .gallery__grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery__image_sunset {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .gallery__image_ice-cream {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .gallery__image_tape {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .gallery__image_books {
    grid-column: 2;
    grid-row: 2;
  }

  .gallery__image_street {
    grid-column: 2 / 4;
    grid-row: 3;
  }

  .gallery{
    margin-bottom: 61px;
  }

  .footer {
     min-block-size: 1024px;
  }
}

@media(max-width: 760px){
  .gallery__grid{
    flex-direction: column;
    display: flex;
  }
}

@media(max-width: 580px){
 .main{
  padding: 40px 10px 0;
}

  .header{
    padding: 0 10px 0 10px;
    min-block-size: 668px;
  }

  .header__description {
    width: 100%;
    margin-top: 55px;
  }

  .content-why, .content-how {
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
  }

  .content-what{
    margin-bottom: 51px;
  }

  .content-what .content__title{
    max-width: 355px;
  }

  .gallery__title{
    margin-bottom: 10px;
  }

  .gallery{
    margin-bottom: 0;
  }

  .gallery__grid{
    display: flex;
    flex-direction: column;
  }

  .footer{
     min-block-size: 668px;
  }
}


@media (max-width:375px){
.main{
  padding: 40px 10px 0;
}

  .header{
    padding: 10px;
    min-block-size: 668px;
  }

  .header__rec-element{
   transform: translateX(7px);
  }

  .header__description {
    width: 100%;
    margin-top: 55px;
  }

  .content-why, .content-how {
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
  }

  .content-what{
    margin-bottom: 51px;
  }

  .content-what .content__title{
    max-width: 355px;
  }

  .gallery__title{
    margin-bottom: 10px;
  }

  .gallery{
    margin-bottom: 40px;
  }

  .gallery__grid{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footer{
     min-block-size: 668px;
  }
}