:root {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --secondary-text-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f8;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --secondary-text-color: #353430;
    --bg-image: url(../images/cover-image-light.png);
  }
}
