:root {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --secondary-text-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --rec-visibility: inline;
  --navigation-text: #353430;
}
